<div class="container">
    <div class="page_text">
        <h2>Convention Rules</h2>
        <h3>General Rules for Everyone</h3>
        <ol>
            <li>
                No outside food is allowed in DeVos Place. You may bring an
                empty water bottle. Food options are available inside both
                DeVos Place and the Amway Grand Hotel.
            </li>
            <li>
                Please report convention-related issues, comments, or
                suggestions to staff or volunteers. Let us know immediately if
                your issue is an emergency requiring medical or law
                enforcement assistance.
            </li>
            <li>
                Harassment is not tolerated. Attendees are urged to report any
                issues of harassment to IRT staff as soon as possible. Law
                enforcement may be contacted to investigate these situations
                if warranted.
            </li>
            <li>
                Illicit drugs, alcohol, or other intoxicants are forbidden on
                the premises. Anyone caught being publicly intoxicated in the
                convention hall may have their badge revoked, and can be
                escorted from the premises.
            </li>
            <li>
                Be courteous! Don’t do anything to someone else that you
                wouldn’t want done to you.
            </li>
            <li>
                No solicitation signs. This includes signs offering physical
                contact or anything asking for money. This does not include
                signs that are part of a specific character costume.
            </li>
            <li>
                Attendees showing excessive nudity may be asked to cover up
                their outfit, or lack thereof. Body paint to replace shirts or
                pants is not a costume and will not allowed into the event.
                JAFAX staff members have the final say in what is appropriate.
            </li>
            <li>
                Balloons or similar lighter-than-air props are not allowed
                inside DeVos Place.
            </li>
            <li>
                No smoking is allowed inside any of the convention buildings.
                Please keep 15 feet away from any entrance if smoking outside.
            </li>
            <li>
                Do not create a safety hazard by blocking any of the building
                entrances or exits.
            </li>
            <li>
                Please obey all directions from staff, the IRT, or convention
                hall security. If you believe you have encountered an issue
                with any of the rules or the security team, please inform
                JAFAX staff.
            </li>
            <li>
                By accepting a badge or participating in JAFAX at the Amway
                Grand Plaza Hotel or DeVos Place, you hereby agree that your
                likeness may be used in photographs and/or advertising
                associated with JAFAX.
            </li>
        </ol>
        <h3>JAFAX Weapons Policy</h3>
        <p>
            All participants and guests attending JAFAX must abide by the below
            policy and will be enforced by JAFAX staff or the convention
            security team. Unapproved items may be confiscated. The following
            rules apply to both attendees’ costume props and vendors’ wares at
            all times:
            <ol>
                <li>
                    BB, cork, airsoft guns, or any weapon that operates based
                    on gas, spring or air are NOT allowed under any
                    circumstances (even unloaded).
                </li>
                <li>
                    Plastic toy guns that shoot foam projectiles (such as Nerf
                    guns) are allowed, but must be brought to our IRT staff to
                    be peace-bonded.
                </li>
                <li>
                    All prop guns must have orange-painted tips and/or
                    otherwise be clearly marked and identified as fake. There
                    must not be any confusion that the prop might be considered
                    real by others (especially the Grand Rapids Police).
                </li>
                <li>
                    Metal blades or anything sharp (edged or pointed) are NOT
                    allowed. Even if the blade isn't sharpened. All prop melee
                    weapons must be wooden, foam or any soft material. Example:
                    A Kunai from Naruto.
                </li>
                <li>
                    If you are purchasing a blade from the Dealers Room, you
                    must have the blade boxed, tied closed, and the purchase
                    must be taken immediately to your car or hotel room for
                    the duration of the convention.
                </li>
                <li>
                    Completely wooden implements are allowed. This includes
                    canes, staffs, wands or practice swords such as bokken
                    and shinai.
                </li>
                <li>
                    Firearms and explosives of any kind, including fireworks,
                    are NOT allowed, this includes weapons that were real at
                    one point (eg: the firing mechanism was removed).
                </li>
            </ol>
        </p>
        <h3>Inclusion Policy</h3>
        <p>
            We welcome all attendees to our convention regardless of any
            disabilities they might have. JAFAX is proud to be all inclusive
            and we take this responsibility seriously. We have two quiet rooms
            located in both Amway and DeVos to provide a safe space for our
            guests with sensory needs. Our staff will be available to direct
            attendees to the nearest quiet room throughout the convention.
        </p>
        <p>
            Our convention is proud to partner with the Federal Government and
            the State of Michigan in supporting breastfeeding mothers. Mothers
            are encouraged to nourish their breastfeeding children wherever
            works best for their family. We do provide an area (that is not a
            restroom) for mothers who desire privacy.
        </p>
        <p>
            Below we have linked a copy of the Michigan breastfeeding
            anti-discrimination act for anyone who would like to review it.<br />
            <ul>
                <li><a href="http://www.legislature.mi.gov/documents/2013-2014/publicact/pdf/2014-PA-0197.pdf">
                    Public Act 2014-0197</a></li>
            </ul>
        </p>
        <p>
            We will make the best effort to get everyone going where they want
            to go and doing what they want to do. Our venue is fully
            accessible, and we are prepared to offer further accommodation
            where needed.
        </p>
        <p>
            We do not support harassment of any kind. Harassment includes, but
            is not limited to:<br />
            <div class="page_text_quotation">
                "Disrespectful, dismissive, or offensive verbal comments
                related to gender, gender identity and expression, sexual
                orientation, disability, physical appearance, body size,
                race, religion, and family structure; Sexual images in
                public spaces, deliberate intimidation, stalking, following,
                harassing photography or recording, sustained disruption of
                talks or other events, inappropriate physical contact,
                unwelcome sexual attention, belittling one’s fandom or
                expression thereof, and advocating for, or encouraging, any
                of the above behaviour."
            </div>
        </p>
        <p>
            Attendees asked to stop any harassing behavior are expected to
            comply immediately.
        </p>
        <p>
            Please be advised that Devos Place features gender neutral family
            restrooms, and any attendee’s choice to use the restroom that best
            suits their gender identification will be respected. If you have
            concerns about entering your choice of restroom call (616)-606-3044
            to request an ally escort.
        </p>
        <p>
            If someone makes you or anyone else feel unsafe or unwelcome,
            please report it as soon as possible. Conference staff can be
            identified by special badges, t-shirts, and/or armbands. Harassment
            and other code of conduct violations reduce the value of our event
            for everyone. We want you to be happy at our event. When we get
            along, our event is a better place.
        </p>
        <p>
            You can make a personal report by:<br />
            Leaving a voicemail, or messaging our PR line: (616)-606-3044. This
            phone number will be continuously monitored for the duration of
            JAFAX. Contacting a staff member, identified by STAFF badges,
            buttons, or shirts.
        </p>
        <p>
            When taking a personal report, our staff will ensure you are safe
            and cannot be overheard. They may involve other event staff to
            ensure your report is managed properly. Once safe, we'll ask you
            to tell us about what happened. This can be upsetting, but we'll
            handle it respectfully, and you can bring someone to support you.
            You won't be asked to confront anyone and we won't tell anyone who
            you are.
        </p>
        <p>
            Our team will be diligent to help you contact hotel/venue security,
            local law enforcement, local support services, provide escorts, or
            otherwise assist you to feel safe for the duration of the event.
            We value your attendance.
        </p>
        <p>
            JAFAX reserves the right revoke the badge of anyone failing to
            honor the letter and spirit of these rules.
        </p>
    </div>
</div>