<div class="container">
    <div class="page_text">
        [% cosplayContest = 'enabled' %]
        <br />
        <center><h1>Cosplay Events at JAFAX 2022</h1></center>
        <p>
            For several years now, JAFAX has welcomed a diverse array of
            cosplayers to the event, and hosted a Cosplay Contest to award
            creativity and performance. If you've ever thought you'd love
            to dress up as your favorite character from anim&eacute;, games, or
            manga, we'd love to see your fandom brought to life!
        </p>
        [% IF cosplayContest == 'disabled' %]
        <p>
            Details regarding Cosplay events at JAFAX 2022 will be posted as
            soon as we have details! Stop back soon!
        </p>
        [% ELSE %]
        <h3>JAFAX Cosplay Weapons Policy</h3>
        <p>
            To keep the event safe and fun for all whom attend, please
            follow the rules below. Note that these rules are enforced by
            JAFAX Staff and Convention Security. Unapproved items may be
            confiscated. This policy applies both to attendees and vendors
            at all times during the event:
            <ol>
                <li>BB, cork, airsoft guns, or any weapon that operates based on gas, spring, or are NOT allowed under any circumstances (even unloaded).</li>
                <li>Plastic toy guns that shoot foam projectiles (such as Nerf guns) are allowed, but must be brought to our IRT staff to be peace-bonded.</li>
                <li>All prop guns must have orange-painted tips and/or otherwise be clearly marked and identified as fake. There must not be any confusion that the prop might be considered real by others (especially the Grand Rapids Police).</li>
                <li>Metal blades or anything sharp (edged or pointed) are NOT allowed. This includes apparel such as ice skates. Even if the blade isn't sharpened. All prop melee weapons must be wooden, foam, or any soft material. Example: A Kunai from Naruto.</li>
                <li>If you are purchasing a blade from the Dealers Room, you must have the blade boxed, tied closed, and the purchase must be taken immediately to your car or hotel room for the duration of the convention.</li>
                <li>Completely wooden implements are allowed. This includes canes, staffs, wands, or practice swords such as bokken and shinai.</li>
                <li>Firearms and explosives of any kind (including fireworks) are NOT allowed, this includes weapons that were real at one point (eg: the firing mechanism was removed).</li>
            </ol>
        </p>
        <h3>JAFAX Cosplay Crafting Competition</h3>
        <p>
            If you wish to prove your skill at crafting costumes, why not sign
            up for our Cosplay Crafting Competition below?
        </p>
        <h4>JAFAX Cosplay Crafting Competition Rules and Information</h4>
        <p>
            <b>Day of Show:</b> Saturday, June 25, 2020<br />
            <b>Time of Show:</b> TBD<br />
            <b>Location:</b> TBD
        </p>
        <h4>Rules</h4>
        <ul>
            <li>
                At least 50-75&percnt; of the cosplay entered must be handcrafted,
                depending on the category entered. The cosplay may be worn by
                an accompanying model, but the award will be presented only to
                the creator.
            </li>
            <li>
                We, the judges, reserve the right to disqualify any applicants
                who do not meet these requirements.
            </li>
            <li>
                Cosplay entrances of both eastern and western media will be
                permitted to enter. However, original characters and 
                self-created variants of other pre-existing characters will not
                be permitted to compete. Exceptions will be gender-bent and
                humanoid characters (Pokemon, Digimon, etc.)
            </li>
            <li>
                You must provide a reference photo of the character you are
                cosplaying. Pictures should be in color, and provide a good
                view of the character you are representing. Official art only
                – no personal design sketches or fanart are allowed.
            </li>
            <li>
                All images should be printed, so that the judges have a
                reference to compare against. Don't bring in books or figures,
                as useful as they are, we can’t hold onto them after all
                entrants have been interviewed. Pictures of your creation
                process are also encouraged, but not required.
            </li>
            <li>
                All costumes will be judged prior to the masquerade, according
                to a specific set of guidelines (see below for scoring).
                Judging will be by appointment only, and if you are unable to
                make your appointment, we cannot judge you! If you are
                excessively late, you risk being disqualified. Please contact
                us if you have any scheduling problems!
            </li>
            <li>
                Registration will begin online, closing June 22th. Whatever
                spots are left open at the time of the convention will be
                available for “at convention” registration in Cosplay Ops/Repair.
            </li>
            <li>
                By joining the cosplay competition you agree to have your picture
                taken to be referenced for final judging.
            </li>
        </ul>
        <p>
            If your cosplay does not meet the requirements to enter in the
            Craftsmanship Competition but you would still like to participate,
            please sign-up for the fashion show segment of the event. To sign up,
            please stop by Cosplay Ops/Repair during the convention.
        </p>
        <h4>Scoring</h4>
        <p>
            Judging scores will be determined by the following 5 categories,
            all judged on a 1-10 rubric (with 1 being "not at all" and 5 being
            "Excellent"):<br />
            <ul>
                <li><b>Accuracy:</b> attention to detail, elaboration</li>
                <li><b>Construction:</b> seams, serging, clean edges, proper
                    fit, flattering cut</li>
                <li><b>Creativity:</b> originality, development</li>
                <li><b>2D to 3D Adaptation:</b> resembles reference image,
                    is easily recognizable</li>
                <li><b>Overall Aesthetics:</b> outward presentation, makeup,
                    wig work, is cosplay complete</li>
            </ul>
        </p>
        <h4>Award Levels</h4>
        <p>
            Your level is determined by the amount of experience you have.
            Be as honest as possible. Please be aware, these are guidelines
            of categories. We encourage you to challenge yourself and don't
            underestimate your abilities.<br />
            <ol>
                <li><b>Novice:</b> At least 50&percnt; of the cosplay must be
                    handmade/self-crafted
                    <ol type="a">
                        <li>First time crafting cosplay</li>
                        <li>First time entering a contest</li>
                    </ol>
                </li>
                <li><b>Journeyman:</b> At least 65&percnt; of the cosplay must be
                    handmade/self-crafted
                    <ol type="a">
                        <li>Have completed more than 3 cosplay</li>
                        <li>Have previously entered cosplay competitions</li>
                    </ol>
                </li>
                <li><b>Master:</b> At least 75&percnt; of the cosplay must be
                    handmade/self-crafted
                    <ol type="a">
                        <li>Have completed 5 or more cosplay</li>
                        <li>Have placed in previous contests</li>
                    </ol>
                </li>
            </ol>
        </p>
        <p>
            <b>Best in Show:</b> This award is chosen based on which cosplay
            the judges believe exemplified the greatest display of skill and
            craftsmanship. All entrants from all other categories are
            automatically eligible to win this prize.
        </p>
        <p>
            <b>Judges Picks:</b> These awards will be given on judge's discretion.
        </p>
        <p>
            Good luck and happy creating!
        </p>
        [% END %]
        <p>
            If you have any questions, concerns, or comments, please reach out to
            our <a href="http://www.jafax.org/contact?department=2">Cosplay Coordinator</a>
        </p>
        [% IF cosplayContest == 'enabled' %]
        <br />
        <p>
            If you wish to enter, fill out and submit this form:
        </p>
        <iframe src="https://docs.google.com/forms/d/1sKiKKzfgP8GfLK0YciuEXcOmj2uRYFuT1ZrKCt-tJfM/viewform?embedded=true" width="100%" height="2330" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>
        [% END %]
    </div>
</div>
