<div class="container">
    <div class="page_text">
        <br />
        <center><h1>Cosplay Events at JAFAX 2020</h1></center>
        <p>
            For several years now, JAFAX has welcomed a diverse array of
            cosplayers to the event, and hosted a Cosplay Contest to award
            creativity and performance. If you've ever thought you'd love
            to dress up as your favorite character from anim&eacute;, games, or
            manga, we'd love to see your fandom brought to life!
        </p>
        <h3>JAFAX Cosplay Weapons Policy</h3>
        <p>
            To keep the event safe and fun for all whom attend, please
            follow the rules below. Note that these rules are enforced by
            JAFAX Staff and Convention Security. Unapproved items may be
            confiscated. This policy applies both to attendees and vendors
            at all times during the event:
            <ol>
                <li>BB, cork, airsoft guns, or any weapon that operates based on gas, spring, or are NOT allowed under any circumstances (even unloaded).</li>
                <li>Plastic toy guns that shoot foam projectiles (such as Nerf guns) are allowed, but must be brought to our IRT staff to be peace-bonded.<li>
                <li>All prop guns must have orange-painted tips and/or otherwise be clearly marked and identified as fake. There must not be any confusion that the prop might be considered real by others (especially the Grand Rapids Police).</li>
                <li>Metal blades or anything sharp (edged or pointed) are NOT allowed. This includes apparel such as ice skates. Even if the blade isn't sharpened. All prop melee weapons must be wooden, foam, or any soft material. Example: A Kunai from Naruto.</li>
                <li>If you are purchasing a blade from the Dealers Room, you must have the blade boxed, tied closed, and the purchase must be taken immediately to your car or hotel room for the duration of the convention.</li>
                <li>Completely wooden implements are allowed. This includes canes, staffs, wands, or practice swords such as bokken and shinai.</li>
                <li>Firearms and explosives of any kind (including fireworks) are NOT allowed, this includes weapons that were real at one point (eg: the firing mechanism was removed).</li>
            </ol>
        </p>
        <h3>JAFAX Cosplay Crafting Competion</h3>
        <p>
            If you wish to prove your skill at crafting costumes, why not sign
            up for our Cosplay Crafting Competiion below?
        </p>
        <h4>JAFAX Cosplay Crafting Competiion Rules and Information</h4>
        <p>
            <b>Day of Show:</b> Sunday<br />
            <b>Time of Show:</b> late afternoon<br />
            <b>Location:</b> Grand Gallery, A-C
        </p>
        <h4>Rules</h4>
        <p>
            This contest is solely based on craftsmanship. All costumes must
            be at least 70% handmade/crafted by the costume artist. This
            includes props, wigs, and clothing. Store-bought costumes are not
            allowed to participate. If you are entering a commissioned costume,
            the original creator of the costume will receive the award, not
            the model.
        </p>
        <p>
            We, the judges, reserve the right to turn down any applicants who
            do not meet these requirements.
        </p>
        <p>
            Costumes that are allowed to participate must fall into one of
            these categories:<br />
            <ul>
                <li>Anim&eacute;/Manga (Japanese Origin, including RWBY and Avatar,
                the Last Air Bender)</li>
                <li>Video Game (Japanese Origin)</li>
                <li>Japanese Media (Live-action, kaiju, J-rockers, etc – but
                you MUST have reference)</li>
            </ul>
        </p>
        <p>
            Because this is a Japanese Oriented Expo/Convention, we are
            limiting eligible costumes to <b>media of Japanese origin.</b>
        </p>
        <p>
            <b><em>
            Outfits not eligible are: Japanese fashion, Fan-made characters,
            Original Characters, American Animation/Comics, or On Ice.
            </b></em>
        </p>
        <p>
            You must provide reference of the character/person you are
            cosplaying as. Pictures should be in color, and provide a good view
            of the character you are representing. Official art/Screencaps only
            – no personal design sketches or fan art are allowed.
        </p>
        <p>
            All images should be copies/printouts on 8.5”x11” paper (or
            smaller), so that we can keep it with us to judge you. Don’t bring
            in books or figures, as useful as they are, we can’t hold onto them
            after all entrants have been interviewed.
        </p>
        <p>
            <b>If you do not have a reference image, we cannot judge you.</b>
        </p>
            Pictures of your creation process are also encouraged, but not
            required.
        </p>
            All costumes will be judged prior to the masquerade, according to
            a specific set of guidelines (see below). Judging will be by
            appointment only, and if you are unable to make your appointment,
            we cannot judge you! If you are excessively late, you risk being
            disqualified. Please contact us if you have any scheduling
            problems!
        </p>
        <p>
            Registration will begin online, closing June 5th. Whatever spots
            are left open at the time of the convention will be available for
            “at convention” registration. An “at convention” registration spot
            is NOT GUARANTEED.
        </p>
        <h4>Scoring</h4>
        <p>
            Judging scores will be determined by the following 5 categories,
            all judged on a 1-5 rubric (with 1 being “not at all” and 5 being
            “Very well”), along with any other notes the judges may want to
            write down:<br />
            <ul>
                <li><b>Accuracy:</b> How well does the costume match the
                    reference image?</li>
                <li><b>Completion:</b> Are all parts of the costume completed?
                    (Nothing missing)</li>
                <li><b>Durability:</b> Has the costume survived (no broken
                    pieces, etc)?</li>
                <li><b>Skill:</b> How well is the costume constructed? (Can
                    stray pins, threads, empty holes be seen?)</li>
                <li><b>Construction:</b> Is the artist able to describe how the
                    costume was created?</li>
            </ul>
        </p>
        <h4>Award Levels</h4>
        <p>
            This year there will be 3 level of awards available (each level
            will have a 1st place, and a Runner-Up) plus 3 judge's choice
            awards.
        </p>
        <p>
            Your level is determined by the amount of costuming experience you
            have. Be as honest as possible.<br />
            <ol type="a">
                <li>Novice – 0 to 3 completed costumes</li>
                <li>Journeyman – 4 – 6 completed costumes</li>
                <li>Master – 7+ completed costumes, or professional
                    training/work (Do you make costumes for other people or
                    events? Do you take classes on costuming/sewing?)</li>
            </ol>
        </p>
        <p>
            Please be prepared to answer any of the judges’ questions. Good
            luck and happy creating!
        </p>
        <br />
        <p>If you wish to enter, fill out and submit this form:</p>
        <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSeap4sniCprBeQhilWGI9iLQAf8-77V_RfEyXDPCXIeLT3Fxg/viewform?embedded=true" width="100%" height="4400" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>
    </div>
</div>