<div class="container">
    <div class="page_text">
        <br />
        <center><h1>JAFAX COVID-19 Policy</h1></center>
        <p>
            JAFAX takes our COVID-19 policies seriously. Our priority is and always will be the health and safety of everyone who attends our
            event, as well as our staff and volunteers.
        </p>
        <p>
            Masks are required indoors in all convention areas, regardless of vaccination status. JAFAX strongly encourages attendees to
            practice social distancing, including while in lines to meet guests. This provides protection for our attendees, guests, staff
            and volunteers. We understand that some individuals may be at greater risk of infection, including children too young to be
            vaccinated.
        </p>
        <p>
            COVID-19 Safety Practices at JAFAX:
            <ul>
                <li>
                    JAFAX recommends all attendees follow <a href="https://www.cdc.gov/coronavirus/2019-ncov/prevent-getting-sick/prevention.html">
                    the guidance put forward by the CDC</a> for preventing the spread of COVID-19. Together we can all ensure that JAFAX is a safe,
                    enjoyable experience for all of our attendees
                </li>
                <li>
                    Masks are required and enforced for all attendees, regardless of vaccination status, in all indoor convention areas
                </li>
                <li>
                    We strongly encourage all attendees to be fully vaccinated and boosted if possible. If you are unable to be vaccinated, please
                    consider testing within 72 hours of the convention to ensure you are not sick prior to attending. If you develop symptoms after
                    the event, please get tested and notify our staff as soon as possible if you think you may have exposed others
                </li>
                <li>
                    If you feel ill or have <a href="https://www.cdc.gov/coronavirus/2019-ncov/symptoms-testing/symptoms.html">symptoms of COVID-19
                    </a>, <b><i>please</i></p> stay home and don’t expose other attendees. Contact our team and we can help roll over your badge to
                    2023!
                </li>
                <li>
                    Maintain social distance of 6’ from fellow attendees
                </li>
                <li>
                    Wash your hands often for at least 20 seconds with soap and water. When handwashing isn’t possible, please use hand sanitizer.
                    Hand sanitizer will be available throughout the convention center for your convenience
                </li>
                <li>
                    Cover coughs and sneezes to avoid spreading ‘con plague’/‘con gunk’/'con crud'
                </li>
            </ul>
        </p>
        <center><h2>Health and Safety Acknowledgement</h2></center>
        <p>
            There is risk of exposure to COVID-19 at any event or public space, which includes JAFAX, even with safety precautions in place. By
            choosing to attend JAFAX, you acknowledge this inherent risk on behalf of yourself and/or any Minor for which you serve as Guardian,
            and as a condition of entering JAFAX. By entering JAFAX you also acknowledge that JAFAX is not accountable if infection does occur.
            JAFAX will do its best to mitigate such risks so that attendees and guests may be as safe as possible.
        </p>
        <p>
            All attendees must acknowledge and attest to the following before entering JAFAX:
            <ul>
                <li>
                    That you are not experiencing any of the following symptoms as identified by the
                    <a href="https://www.cdc.gov/coronavirus/2019-ncov/symptoms-testing/symptoms.html">CDC</a>:
                    <ul>
                        <li>Fever or chills</li>
                        <li>Cough</li>
                        <li>Shortness of breath or difficulty breathing</li>
                        <li>Fatigue</li>
                        <li>Muscle or body aches</li>
                        <li>Headache</li>
                        <li>New loss of taste or smell</li>
                        <li>Sore throat</li>
                        <li>Congestion or runny nose</li>
                        <li>Nausea or vomiting</li>
                        <li>Diarrhea</li>
                    </ul>
                </li>
                <li>
                    If you have been in contact with someone who is suspected or confirmed to have COVID-19 symptoms without completing a
                    quarantine as recommended by the <a href="https://www.cdc.gov/coronavirus/2019-ncov/your-health/quarantine-isolation.html">CDC</a>
                </li>
            </ul>
        </p>
        <p>
            Do not enter JAFAX or any of the event’s venues if you cannot confirm all of the above criteria. If at any point during your time at
            the event you do not meet all of the above criteria, you will be asked to leave the venue at the sole discretion of the JAFAX
            management team.
        </p>
    </div>
</div>
