<div class="container">
    <div class="page_text">
        <br />
        <center><h1>JAFAX COVID &amp; Public Health Policy</h1></center>
        <p>
            JAFAX takes the health and safety of everyone who attends our
            event, including our staff and volunteers, very seriously. JAFAX
            staff will continue to monitor the situation and any updates will
            be posted on this page.
        </p>
        <p>
            JAFAX encourages and recommends the use of face masks in indoor
            spaces of the convention to reduce the risk of spreading infectious
            diseases such as COVID-19.
        </p>
        <p>
            <strong>
                JAFAX is not requiring proof of vaccination or proof of a
                negative COVID-19 test to attend the 2023 event.
            </strong>
        </p>
        <p>
            <strong>
                The JAFAX team thanks all of our 2022 attendees for supporting
                us and taking actions to prevent the spread of COVID-19. We
                couldn’t have held a safe convention without you and we look
                forward to seeing you back again for 2023!
            </strong>
        </p>
        <h2>Useful Links for More Information</h2>
        <p>
            <ul>
                <li><a href="https://vaccinatewestmi.com/faq/">Vaccine West Michigan COVID FAQs</a></li>
                <li><a href="https://www.accesskent.com/Health/coronavirus.htm">Access Kent County - COVID 19 Information</a></li>
                <li><a href="https://www.cdc.gov/coronavirus/2019-ncov/prevent-getting-sick/about-face-coverings.html">CDC Mask Guidance</a></li>
            </ul>
        </p>
    </div>
</div>
