<div class="container">
    <div class="page_text">
        <br />
        <center><h1>Guests at JAFAX 2021</h1></center>
        <p>
            We haven't finalized the guest list for JAFAX 2021 yet. However,
            We can't wait to tell everyone about our exciting guests when we
            do!
        </p>
    </div>
</div>
