<div class="container">
    <div class="page_text">
        <br />
        <center><h1>JAFAX 2020 Events Schedule</h1></center>
        <p>
            Rest assured we're working hard to organize a schedule jam packed
            with fun and interesting events! Once we've nailed down all the
            panels, showings, events, and guests the Schedule will be posted
            for you to plan all things you want to see and do at JAFAX 20202!
        </p>
    </div>
</div>
