<div class="container">
    <div class="page_text">
        <br />
        <center><h1>Anime Screenings</h1></center>
        <p>
            Every year, JAFAX runs several screening rooms to present anime to
            the West Michigan area! This year's schedule will be posted here,
            along with a short description and genre for each show, so stop in
            again to find out more!
        </p>
    </div>
</div>