<div class="container">
    <div class="page_text">
        <br />
        <center><h1>Thank you!</h1></center>
        <p>
            Thank you for your e-mail! Our coordinators will respond to your
            question as soon as possible. We look forward to seeing you at
            JAFAX!
        </p>
    </div>
</div>